# OS Junk
.DS_Store

# folders
resources/
samples/
AVisualizer/
tmp/
tidal/
.vscode/
scd/docs/
archive/
skills/
quarks/CorallineSemantics/Data/probes
quarks/CorallineSemantics/Data/qwen_chunks
quarks/CorallineSemantics/Data/qwen

# specific files
package-lock.json


